.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 60px 0;
}

.upload_container {
  width: 800px;
  padding: 32px 36px;
  margin: 0 0 0 -60px;
  background: #ffffffaa;
  border-radius: 16px;
}

.container_title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  color: #445566;
  letter-spacing: 1px;
}
