.dropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  background: #ffffff66;
  border: 2px dashed #c4c8d7;
  border-radius: 16px;
  user-select: none;

  .description {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #778899;
    
    label {
      color: #009dff;
      cursor: pointer;

      &:visited {
        color: #009dff;
      }

      &:hover {
        color: #00bbff;
      }

      &:active {
        color: #0077ff;
      }
    }
  }

  .subDesc {
    text-align: center;
    letter-spacing: 1px;
    color: #778899;
  }
}
