.logo_container {
  display: flex;
  align-items: center;
}

.logo {
  width: 36px;
  height: 36px;
  margin: 0 24px 0 0;
  border: 5px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 12px -4px #ffffff;
}

.app_tit {
  font-size: 26px;
  font-weight: bold;
  color: #456;
  margin: 0;
}

.menu_box {
  padding: 100px 0 0 0;
  box-sizing: border-box;
}

.menu_item {
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 12px;
  background: #ffffffaa;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: background ease 0.3s, transform ease-out 0.2s;
  color: #456;
  text-decoration: none;

  &.active_item {
    border: 2px solid #009dff;
    padding: 0 18px;
  }

  &:hover {
    background: #ffffffdd;
  }

  &:active {
    background: #ffffff;
    transform: scale(0.9);
  }

  .icon {
    font-size: 18px;
    margin-right: 8px;
  }
}
