.container {
  display: flex;
  gap: 48px;
  padding: 24px 72px;
  min-height: 100vh;
  background: url(../assets/bg.png);
}

.sidebar {
  width: 220px;
  padding: 24px 0 0;
}

.main {
  flex: auto;
}
